<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);}
h1 {font-size: 22px;margin-top: 5px;color: #444;}
h3 {font-weight: 600;font-size:18px;color: #444;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
.menu {margin: 15px;display:block;}
.menu i.fa {margin-right: 5px;}
a.menu {display: block;margin: 15px;}
a.menu:hover {color: #f56400;}
i.small {font-size: 15px;}
span.menu {color: #F48024;}
.sidb {width: 265px;background: #f6f8fe;float: left;margin-top: 13px;font-size: 15px;}
.help-telo {margin-left: 20px !important;width: 75%; float: right;}
a.contacts{margin-top: 30px;}
@media screen and (max-width: 1200px) {.help-telo {width: 70%;}}
@media screen and (max-width: 1000px) {.help-telo, .sidb {width: 100%;}.sidb {margin-top: 1px;}}
</style>

<div class="help">
<div class="blog-list">


<div class="help-telo">  

<h1>Помощь по сайту</h1>
<p>
<strong><a target="_blank" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Миссия Toxu</a> — делиться знаниями.</strong> Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели путем создания лучшего сайта вопросов и ответов в сети.</p>

<span class="excerpt">Администрация приветствует полные и развернутые ответы. Обратите внимание, что необходимо подробно обосновать свою точку зрения.  Прочитайте более подробно один из главных вопросов: <a  target="_blank" href="https://toxu.ru/t/pochemu-moj-otvet-udalen-skryt/159">почему мой вопрос/ответ удален/скрыт?</a></span>


<p><strong>Что означает название сайта «Toxu»?</strong><br>
<code>«Toxu»</code> - это кличка нашей энергичной, умной совы, которая вот уже 4 месяца живет в офисе. У неё есть на сайте отдельная <a href="https://toxu.ru/toxu">страница</a>.</p>

<p><strong>Как мне отслеживать вопросы только в определенных разделах?</strong><br>
Вы можете отписаться от вопросов в тех разделах, которые не хотите видеть на главной странице. Для этого необходимо ознакомиться со следующим материалом:</p>
<ul>
<li><a target="_blank" href="https://toxu.ru/t/podpiska-opoveshheniya-na-razdely-tegi-gruppy-i-voprosy/4957">Как мне подписываться только на определенные разделы, теги, вопросы?</a></li>
</ul>


<p><strong>Где я могу настроить свой профиль?</strong><br>
Свой профиль вы можете настроить в окне, если нажать на аватар в шапке сайта:<br>
<img class="img" src="https://toxu.ru/uploads/default/original/2X/d/d905b6ad6152e4843ec1e6f08fa23f7c68d5119a.gif">
<br>Именно там вы можете выбрать дизайн, сменить ник, аватар, почту и выполнить другие действия.</p>

<p><strong>Как мне выбрать лучший ответ?</strong><br>
В каждом ответе на ваш вопрос есть данная кнопка.<br>
<img class="img" src="https://toxu.ru/uploads/default/original/2X/9/9571a013ecd162499f7ead7bc11fcde16bb568a2.gif"><br>
Не спешите выбирать лучший ответ, возможно, еще не все участники ответили. Более подробно почитать про выбор <a title="лучший ответ" href="https://toxu.ru/t/luchshij-otvet-na-sajte-toxu/2479">лучшего ответа можно по этой ссылке</a>.</p>

<p><strong>Как мне поменять дизайн?</strong><br>
Поменять дизайн можно в настройках своего профиля на вкладке <em>интерфейс</em>. На данный момент несколько вариантов дизайна:</p>
<ul>
<li>классический  (по умолчанию);</li>
<li>блоковый;</li>
<li>toxu;</li>
<li>светлый</li>
<li>черный.</li>
</ul>

<h3>Toxu в социальных сетях</h3>
<table border="0"><tbody><tr>
<td style="width: 150px;"><a rel="nofollow" href="https://vk.com/toxu_ru" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/8/84baa24406be1130ffcc51cb1ec5542bbedcfcbc.png" alt="ВКонтакте"> ВКонтакте</a><br></td>

<td style="width: 150px;"><a rel="nofollow" href="https://twitter.com/toxu_russian" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/b/b0a82e3e19e2ddf4a237edbfe98daf111f9c5011.png" alt="Twitter"> Twitter</a><br></td>

<td style="width: 150px;"><a rel="nofollow" href="https://www.facebook.com/toxu.ru" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/d/d1b2b70d7aeff606a99c8dda3c2cf4fa9d04c881.png" alt="Facebook"> Facebook</a><br>
</td>
</tr></tbody></table>
<br>
И <a rel="nofollow" target="_blank" href="https://zen.yandex.ru/media/toxu">читайте нашу ленту в <font color="red">Я</font>ндекс.Дзен</a>
<br><br>


Пока сайт находится в тестовой версии, у каждого желающего есть возможность поучаствовать в его развитии.  
Принимайте участие в обсуждениях, предлагайте, критикуйте и вы обязательно будете замечены.
<br><br>
<img class="img" src="https://toxu.ru/uploads/default/optimized/2X/0/00cdeb3f34477a40dc41eff3c0c1dace09913a90_1_690x116.png" alt="Награды Toxu">


<p><strong>Куда мне писать о своих предложения по этому сайту? Есть идеи для сайта…</strong><br>
Для этого существует отдельный раздел: <a  target="_blank"  href="https://toxu.ru/c/toxu"><strong>Toxu</strong></a><br>
И вы можете написать личное сообщение официальному аккаунту Toxu</p>


<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
<br><br><a href="https://toxu.ru/features">Читать далее...</a>
</section>
</div>

<div class="sidb">
<span class="menu"> <i class="fa fa-caret-right" aria-hidden="true"></i> Помощь по сайту</span>
<a class="menu" href="https://toxu.ru/pravila"> <i class="fa fa-caret-right" aria-hidden="true"></i> Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> <i class="fa fa-caret-right" aria-hidden="true"></i> Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"> <i class="fa fa-caret-right" aria-hidden="true"></i> Уровни доверия</a>
<a class="menu" href="https://toxu.ru/ask"> <i class="fa fa-caret-right" aria-hidden="true"></i> Часто задаваемые вопросы</a>
<a class="menu" href="dev"> <i class="fa fa-caret-right" aria-hidden="true"></i> Для разработчиков</a>
<a class="menu" href="https://toxu.ru/donate"> <i class="fa fa-caret-right" aria-hidden="true"></i> Хотите помочь проекту?</a>     
{{mount-widget widget="page-my-menu"}}
<a class="menu contacts" href="https://toxu.ru/contacts"> <i class="fa fa-caret-right" aria-hidden="true"></i> Контакты</a> 
</div>

</div></div>  
