<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
h3 {font-weight: 600;font-size:18px;}
.help-telo {line-height: 1.5;font-size: 1.01em;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
.sidebar-fon {background: #f6f8fe;}
.dov td {
    font-size: 14px;
    padding: 3px 12px 3px 12px;
    text-align: center;
    border: 1px solid #e9e9e9;
}

.dov td.d {text-align: left;}
tr.zag td {font-weight: 600;}
</style>

<div class="help">
<div class="blog-list">
<div class="sidebar"><div class="sidebar-fon"> 

<a class="menu" href="https://toxu.ru/help">Помощь</a><br><br>
<a class="menu" href="https://toxu.ru/features">Возможности сайта</a><br><br>
<span class="menu">Уровни доверия</span><br><br>
<a class="menu" href="https://toxu.ru/toxu"> Почему сайт назван Toxu?</a><br><br>
<a class="menu" href="https://toxu.ru/dev"> Для разработчиков</a><br><br>
{{mount-widget widget="page-my-menu"}}

</div></div>
<div class="container list-container has-sidebar help-telo">  

<h1>Уровни доверия</h1>
<span style="color: #7a98a9;">Что такое уровни доверия на сайте...</span>
<br><br>

Это основной показатель в системе Toxu.ru.<br>
Именно он определяет возможности пользователей во всей системе.
<br><br>
<b>Какие есть уровни доверия?</b><br>
Посетитель (0) → Пользователь (1) → Участник (2) → Постоялец (3) → Лидер (4)

<br><br>

<h3>Правило первого дня (0 уровень)</h3>
Специальные дополнительные ограничения, которые применяются к учётной записи, созданной за последние 24 часа.<br><br>
<ul>
<li> Может ответить только <b>10 раз</b>.</li>
<li> Может задать только <b>3 вопроса</b>.</li>
<li> Есть и ограничения по частоте публикации вопросов и ответов.</li></ul>

Ознакомиться более подробно, можно по этой ссылке: <a target="_blank" title="правило первого дня" href="https://toxu.ru/t/pravila-pervogo-dnya/3026">правило первого дня.</a>

<br><br>
<h2>Таблица уровней доверия</h2>
<br>
<b>Некоторые ограничения</b> для пользовательских уровней доверия:
<br><br>

<table class="dov">
<tr class="zag"><td> Действие <small> уровни доверия -></small> </td><td> 0 </td><td> 1 </td><td> 2</td><td> 3 </td><td> 4 </td></tr>
 
<tr class="tel"><td class="d">Задать вопрос</td><td>3</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Написать ответ</td><td>10</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Загрузить файлы</td><td>1</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Инвайт система (приглашение)</td><td>-</td><td>-</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Пригласить пользователей ответить на вопрос</td><td>-</td><td>-</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Почтовая служба</td><td>-</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Править Вики (wiki) публикации</td><td>-</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Создавать свои Вики (wiki) публикации</td><td>-</td><td>-</td><td>-</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Редактировать свой вопрос, ответ* </td><td>+</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Редактировать чужой вопрос </td><td>-</td><td>-</td><td>-</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">Редактировать чужой ответ</td><td>-</td><td>-</td><td>-</td><td>-</td><td>+</td></tr>
<tr class="tel"><td class="d">Объединять, переносить вопросы и ответы</td><td>-</td><td>-</td><td>-</td><td>-</td><td>+</td></tr>
<tr class="tel"><td class="d">Жалоба на ответ </td><td>-</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
<tr class="tel"><td class="d">"Нравится" ответ, вопрос </td><td>+</td><td>+</td><td>+</td><td>+</td><td>+</td></tr>
</table>


<b>*</b> Редактирование, удаление своего материала возможно в течение 60 дней.
<br><br>
<h3>Что необходимо сделать для достижения следующего уровня доверия:</h3>

<br><b><i>TL1</i></b><br>

<table class="dov">
<tr class="zag"><td>Действие <small> для достижения уровня доверия -></small> </td><td> 1 (TL1)</td></tr>

<tr class="tel"><td class="d">Посетить вопросов </td><td> 5 </td></tr>
<tr class="tel"><td class="d">Читать ответов </td><td> 30 </td></tr>
<tr class="tel"><td class="d">Читать на сайте </td><td> 10 минут </td></tr>

<br><b><i>TL2</i></b><br>

<table class="dov">
<tr class="zag"><td>Действие <small> для достижения уровня доверия -></small> </td><td> 2 (TL2)</td></tr>

<tr class="tel"><td class="d">Посетить вопросов </td><td> 20 </td></tr>
<tr class="tel"><td class="d">Читать ответов </td><td> 100 </td></tr>
<tr class="tel"><td class="d">Читать на сайте </td><td> 60 минут </td></tr>
<tr class="tel"><td class="d">Дней посещать сайт </td><td> 2 </td></tr>
<tr class="tel"><td class="d">Ответить на вопрос <small> (не удалено, и не скрыто)</small> </td><td> 2 </td></tr>
<tr class="tel"><td class="d">Получить симпатий в 2 своих ответах </td><td> 1 </td></tr>

<br><b><i>TL3</i></b><br>

<table class="dov">
<tr class="zag"><td class="d">Действие <small> для достижения уровня доверия -></small> </td><td> 3 (TL3)</td></tr>
<tr class="tel"><td class="d">Дней посещать сайт </td><td> 100 </td></tr>
<tr class="tel"><td class="d">Читать вопросов </td><td> 200 </td></tr>
<tr class="tel"><td class="d">Читать ответов </td><td> 500 </td></tr>

<br>
Вводится срок (50 дней), в течение которых пользователь должен посещать сайт.  И в эти дни он должен сделать:
<br>

<table class="dov">
<tr class="zag"><td class="d">Действие </td><td> Количество</td></tr>
<tr class="tel"><td class="d">Ответить на вопрос </td><td> 10</td></tr>
<tr class="tel"><td class="d">Посетить вопросов </td><td> 200</td></tr>
<tr class="tel"><td class="d">Посмотреть ответов </td><td> 500</td></tr>
<tr class="tel"><td class="d">Поставить "Нравится" </td><td> 30</td></tr>
<tr class="tel"><td class="d">Получить "Нравится" </td><td> 20</td></tr> 
<tr class="tel"><td class="d">Получить "Жалоба" не более </td><td> 5</td></tr>
</table>

<br><br>

Минимальное количество дней , в течение которых пользователь с уровнем доверия 3 не может быть понижен до уровня доверия 2, равно 14 дням - это льготный период. Если пользователь не будет закреплен на TL3, уровень доверия может упасть до TL2.
<br><br>
Показатели растут лишь при условии стабильной активности на сайте. В случаях перерывов в активности система, возможно, снимет часть достижений.
<i>В стадии разработки...</i>
<br><br>
</div></div>
{{footer-toxu}}
