<div class="footer-toxu"><div class="footer_column">

<div class="one">
© 2018 <a href="https://toxu.ru">«Toxu» – обмен знаниями и опытом</a>
</div>

<div class="too">
<a class="links no-mob" title="Разделы" rel="nofollow" href="https://toxu.ru/categories">Разделы</a>
<a class="links no-mob" title="Писатели" href="https://toxu.ru/qa">Писатели</a> 
<a class="links" title="О нас" href="https://toxu.ru/about">О нас</a> 
<a class="links no-mob" title="Обратная связь" href="https://toxu.ru/t/predlozheniya-pozhelaniya-po-sajtu-toxu-ru-obshhaya-tema/4544">Обратная связь</a> 
<a class="links" title="Помощь" href="https://toxu.ru/help">Помощь</a>
</div>

<div class="polit no-mob">При полном или частичном использовании материалов ссылка на «Toxu» обязательна. </div>

</div></div>
