{{mount-widget widget="topic-cat-info" args=(hash model=model)}}

{{create-topic currentUser=currentUser createTopic=createTopic}}

<a href="https://toxu.ru{{unbound url}}.rss" title="лента для данного вопроса и его ответов" class="ser cvet">RSS лента вопроса...</a>

<div class='messag2'>
<a class="cvet" href="https://toxu.ru{{unbound url}}" id="scroll-top" style="display: inline;"><i class="fa fa-arrow-up"></i></a>
</div>
