{{mount-widget widget="topic-cat-info" args=(hash model=model)}}

{{create-topic currentUser=currentUser createTopic=createTopic}}

<a href="https://toxu.ru{{unbound url}}.rss" title="лента для данного вопроса и его ответов" class="ser cvet">RSS лента вопроса...</a>

