<div class="help">
<div class="blog-list">
<div class="sidebar"><div class="sidebar-fon"> 
    
<a class="menu" href="https://toxu.ru/help">Помощь</a><br><br>
<a class="menu" href="https://toxu.ru/pravila">Правила и рекомендации</a><br><br> 
<span class="menu">Возможности сайта</span><br><br>
<a class="menu" href="https://toxu.ru/level">Уровни доверия</a><br><br>
<a class="menu" href="https://toxu.ru/toxu">Почему сайт назван Toxu?</a><br><br>
<a class="menu" href="https://toxu.ru/dev">Для разработчиков</a><br><br>
<a class="menu" href="https://toxu.ru/donate"> Хотите помочь проекту?</a><br><br>
</div></div>
<div class="container list-container has-sidebar help-telo">      

<h1>Возможности сайта Toxu.ru</h1>

<b>Миссия Toxu</b> — делиться знаниями. Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели, путем создания лучшего сайта вопросов и ответов в сети.

<br><br><h3>Мощная система публикаций</h3>
Разделы, теги, закладки, wiki сообщения, история правок, сохранение набранного материала...
<br>
<img width="95%" class="img" src="https://toxu.ru/uploads/default/original/2X/0/0c1660fbc4fbbd06393be46331bca6ed3206e719.png" alt="возможности toxu.ru">
<br>

Возможность использовать тайминг: планировать публикации/вопросы, создавать События с привязкой к месту и т.д. Скрывать, переносить, удалять и изменять время (поднимать вопросы). Многие возможности уже доступны с 3-4 уровня доверия…
<br><br>
<b>Посетитель → Пользователь → Участник → Постоялец → Лидер</b><br>
Можно почитать более подробно об уровнях доверия: <a target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">тут</a>.
<br><br>
Вы можете подписываться, приглашать, добавлять в избранное, закрывать и переназначать время для публикаций. Публиковать материалы в режиме wiki и т.д. Возможности при уровне доверия Постоялец и выше, воистину безграничны.
<br><br>
    
Например, полный контроль над всем процессом.<br>
<img width="95%" class="img" src="https://toxu.ru/uploads/default/original/2X/6/668808446dd453ab2957c06afe7b3423f52a8544.png" alt="полный контроль над всем процессом">

<br><br>    
    
Вы можете использовать личные сообщения (почту).
<section id="33331"  data-wow-duration="400ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInUp;">

<img width="98%" class="img"  src="https://toxu.ru/uploads/default/original/2X/d/d75338f501af90e36b7ea029d8046b72902be4c3.png" alt="toxu-ru">
</section>
<br>
Мощная система оповещения и подпискок.
<br>
<img width="98%" class="img"  src="https://toxu.ru/uploads/default/original/2X/1/13a74346291841e152ffbe4b5de96fccf91a9544.png" alt="Система оповещения">
<br><br>
Wiki вопросы и ответы<br>
<img width="98%" class="img"  src="https://toxu.ru/uploads/default/original/2X/9/96a599f6062934793fc3934aee3e767a0ebc6229.png" alt="Wiki вопросы и ответы">




<br><br>Наши читатели/писатели<br>

<img width="98%" class="img"  src="https://toxu.ru/uploads/default/original/2X/3/346a2c8415399e2e53649b7106dab01c9bc3bbe6.png" alt="Наши читатели/писатели">

<br><br>Сортировка вопросов по количеству: ответов, просмотров и времени публикации<br>

<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/5/56269eb91f02bd24bdb257b874022b77b99e768a.png" alt="Сортировка-вопросов">
<br><br>

Возможно выбирать, куда мы переходим в вопросе.
<br>
<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/8/8188a07377febc92504b7a81e3b16197daa656d6.png" alt="Сортировка">
<br>
Если нажать на сам вопрос, то переход будет осуществлен на то место, на котором вы закончили чтение. Если ответы на вопросы вы не читали, то переход будет на начало публикации. Если нажать на количество ответов, то можно выбрать переход на самый первый ответ и на самый последний.
<br><br>
После авторизации вы можете выбрать свою персональную центральную страницу или свой вариант дизайна.
<br><br>
Это может быть или <b>Последние вопросы</b>.<br>
<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/c/cdef00adbf75e08d511d53072556801cd2ccf148.png" alt="Последние">
<br><br>Или <b>Разделы</b><br>

<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/5/594fc8e0066f80539e3a2d1354dff5c1f5e0db1f.jpeg" alt="Разделы сайта Toxu">
<br>
Или <i>Новые вопросы, Toп. вопросов... </i>

<br><br>Награды<br>
<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/0/094c124b06fc7f7292337354395c7cdb2c38bcd5.png" alt="Награды-Toxu">



<br><br>Теги и группы тегов<br>
<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/8/8c2110319782b9ef29ded46177df1fd246a26080.png" alt="Теги и группы тегов">
<br><br>

И конечно, нельзя не сказать про нашего <b>ToxBot</b> (бота)<br>
Именно он поддерживает порядок на этом сайте, проводит экскурсии и т.д.
<br>
<img width="98%" class="img" src="https://toxu.ru/uploads/default/original/2X/4/4185d26eef3d2445a761e76003ebe20abec39c91.jpg">

<br>
Тут можно <a target="_blank" href="https://toxu.ru/t/kto-takoj-toxbot/1215">почитать о нем более подробнее.</a>
<br><br>
<b>Хотите принять участие в создании проекта?</b><br>
Включайтесь в обсуждения, обсуждайте, предлагайте и критикуйте. И вы обязательно будете замечены.

<p><strong>Куда мне писать о своих предложения по этому сайту? Есть идеи для сайта…</strong><br>
Для этого существует отдельный раздел: <a  target="_blank"  href="https://toxu.ru/c/toxu"><strong>Toxu</strong></a><br>
И вы можете написать личное сообщение официальному аккаунту Toxu</p>


<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</section>
</div></div></div>
