<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
h3 {font-weight: 600;font-size:18px;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
iframe {    height: 320px;}
.menu {display: block;margin-bottom: 10px;}
.menu i {margin-right: 5px; color: #08c;}
.menu i:hover {color: #f56400;}
span.menu i {color: #222;}

.sidb {width: 240px;background: #f6f8fe;float: left;padding: 10px 0 10px 15px;margin-top: 13px;}
.help-telo {margin-left: 30px !important;width: 71%; float: right;}
@media screen and (max-width: 1050px) {.help-telo {width: 99%;}.sidb {display: none;}}
</style>

<div class="help">
<div class="blog-list">
<div class="sidb">

<a class="menu" href="https://toxu.ru/help"> <i class="fa fa-home" aria-hidden="true"></i> Помощь</a>
<a class="menu" href="https://toxu.ru/pravila"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> <i class="fa fa-database" aria-hidden="true"></i> Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"><i class="fa fa-heart-o" aria-hidden="true"></i> Уровни доверия</a>
<a class="menu" href="https://toxu.ru/toxu"> <i class="fa fa-question" aria-hidden="true"></i> Почему сайт назван Toxu?</a>
<a class="menu" href="https://toxu.ru/dev"> <i class="fa fa-code" aria-hidden="true"></i> Для разработчиков</a>
<span class="menu"> <i class="fa fa-paypal" aria-hidden="true"></i> Хотите помочь проекту?</span>
{{mount-widget widget="page-my-menu"}}

</div>
<div class="help-telo">  

<h1>Хотите помочь развитию проекта? </h1>

<h3>Помощь сайту</h3> 

Сайт Toxu не является коммерческим сайтом. Но вы можете поддержать проект, отправив небольшое денежное пожертвование. Все деньги пойдут исключительно на поддержку сайта.
<br>
<small><i>Toxu website is not a commercial website. But you can support the project by sending a small donation. All the money will go exclusively to support the site.
</i></small>
<br><br>
<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>


<b>PayPal:</b> <a target="_blank"  href="https://www.paypal.me/toxuru">https://www.paypal.me/toxuru</a>
<br><br>

Мы будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.
 <br><br>
<h3>Код для размещения на сайте может выглядеть так</h3>
<blockquote><small>&lt;a href="https://toxu.ru" target="_blank"&gt;Toxu — место для обмена знаниями. Вопросы и ответы.&lt;/a&gt;<br></small></blockquote>
<br><i>Обратная связь с администрацией:</i> 
<img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">

<br><br>

</div></div></div>
{{footer-toxu}}
