<center>
<h1 class="prof">Участники</h1>
<h3 class="user">Лучшие писатели и лучшие читатели за этот месяц</h3>
<div class="user-img"></div>

<br>
<div class="prof-glog-blog new-str">

<div class="prof-blog">
<div class="prof-num">4k</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num">458</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num">18k</div>
<div class="prof-txt">ответов</div>
</div>

</div>

<div class="bord-2 new-str"></div>

</center>

<div class="new-str">

<br><br>
<div class="prof-glog-blog-2 new-str">

{{mount-widget widget="user-top"}}

</div>

</div>

<br><br>
<div class="prof-glog-blog-2 new-str">
<i>Страница в стадии разработки...</i>
</div>

