<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);}
h1 {font-size: 22px;margin-top: 5px;color: #444;}
h2 {font-size: 18px;margin-top: 5px;color: #444;}
h3 {font-size:18px;color: #666;margin-top: 20px;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
.menu {margin: 15px;display: block;}
.menu i.fa {margin-right: 5px;}
a.menu {display: block;margin: 15px;}
a.menu:hover {color: #f56400;}
i.small {font-size: 15px;}
span.menu i.fa {color: #F48024;}
.sidb {width: 265px;background: #f6f8fe;float: left;margin-top: 13px;font-size: 15px;}
.help-telo {margin-left: 20px !important;width: 75%; float: right;}
.ask {position: relative;}
.ask-block{width: 49%;display: inline-block;}
.contacts{margin-top: 30px;}
.user-info .user-detail .name {font-size: 14px;}
@media screen and (max-width: 1200px) {.help-telo {width: 70%;}}
@media screen and (max-width: 1000px) {.help-telo, .sidb {width: 100%;}.sidb {margin-top: 1px;}}
@media screen and (max-width: 700px) {.ask-block{width: 100%;}}
</style>

 

<div class="help">
<div class="blog-list">
<div class="help-telo">  

<h1>Контакты</h1>
<span class="excerpt">Данный раздел предназначен для обратной связи с разработчиками, администрацией сайта Toxu</span>

<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
<br> <br> 
Можно задать вопрос и на самом сайт: <a target="_blank" href="https://toxu.ru/t/predlozheniya-pozhelaniya-po-sajtu-toxu-ru-obshhaya-tema/4544">предложения, пожелания по сайту Toxu.ru</a>  (общая тема)...
</section>

<section class="about moderators">
          <h3><i class="fa fa-users d-icon d-icon-users"></i> Для связи</h3>

          <div class="users">
              <div data-username="Toxu" id="ember1391" class="user-info small ember-view"><div class="user-image">
  <a ref="nofollow" href="/u/Toxu" data-user-card="Toxu"><img alt="Toxu" width="45" height="45" src="/user_avatar/toxu.ru/toxu/45/3913_1.png" class="avatar" title="Редактор"></a>
</div>

<div class="user-detail">
  <div class="name-line">
<a ref="nofollow" href="/u/Toxu" data-user-card="Toxu">Toxu</a>
    <span class="name">Официальный аккаунт</span>
  </div>
  <div class="title">Редактор</div>


</div>
</div>
<div data-username="ToxuWiki" id="ember1397" class="user-info small ember-view"><div class="user-image">
<a ref="nofollow"  href="/u/ToxuWiki" data-user-card="ToxuWiki"><img alt="ToxuWiki" width="45" height="45" src="/user_avatar/toxu.ru/toxuwiki/45/2913_1.png" class="avatar" title="- общение, wiki, публикации..."></a>
</div>

<div class="user-detail">
  <div class="name-line">
   <a href="/u/ToxuWiki" data-user-card="ToxuWiki">ToxuWiki</a>
    <span class="name">Официальный аккаунт</span>
  </div>
  <div class="title">Общение, wiki, публикации...</div>


</div>
</div>
          </div>
   
 </section>
<i>
Присоединяйтесь и вы сможете активно принять участие в создании нашего проекта - для этого достаточно проявлять активность и вы будете обязательно замечены!
</i><br> <br> <br>
</div></div>
<div class="sidb">
<a class="menu" href="https://toxu.ru/help"> <i class="fa fa-home" aria-hidden="true"></i> Помощь по сайту</a>
<a class="menu" href="https://toxu.ru/pravila"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> <i class="fa fa-database" aria-hidden="true"></i> Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"><i class="fa fa-heart-o" aria-hidden="true"></i> Уровни доверия</a>
<a class="menu" href="https://toxu.ru/ask"> <i class="fa fa-question-circle-o" aria-hidden="true"></i> Часто задаваемые вопросы</a>
<a class="menu" href="https://toxu.ru/dev"> <i class="fa fa-code" aria-hidden="true"></i> Для разработчиков</a>
<a class="menu" href="https://toxu.ru/donate"> <i class="fa fa-credit-card" aria-hidden="true"></i> Хотите помочь проекту?</a>
{{mount-widget widget="page-my-menu"}}
<span class="menu contacts"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Контакты</span>
</div>
</div>
