<div class="help">
<div class="blog-list">
<div class="sidebar"><div class="sidebar-fon"> 

<a class="menu" href="https://toxu.ru/help">Помощь</a><br><br>
<a class="menu" href="https://toxu.ru/features">Возможности сайта</a><br><br>
<a class="menu" href="https://toxu.ru/level">Уровни доверия</a><br><br>
<a class="menu" href="https://toxu.ru/toxu"> Почему сайт назван Toxu?</a><br><br>
<a class="menu" href="https://toxu.ru/dev"> Для разработчиков</a><br><br>
<span class="menu">Хотите помочь проекту?</span><br><br>

</div></div>
<div class="container list-container has-sidebar help-telo">  

<h1>Хотите помочь развитию проекта? </h1>

<h3>Помощь сайту</h3> 

Сайт Toxu, не является коммерческим сайтом. Но вы можете поддержать проект, отправив небольшое денежное пожертвование. Все деньги пойдут исключительно на поддержку сайта.
<br><br>
<i>Toxu website is not a commercial website. But you can support the project by sending a small donation. All the money will go exclusively to support the site.
</i>
<br><br>
<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>
<br><br>

<b>PayPal:</b> <a target="_blank"  href="https://www.paypal.me/toxuru">https://www.paypal.me/toxuru</a>
<br><br>

Мы будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.

<h3>Код для размещения на сайте может выглядеть так</h3>
 <br><br>
<blockquote><small>&lt;a href="https://toxu.ru" target="_blank"&gt;Toxu — место для обмена знаниями. Вопросы и ответы.&lt;/a&gt;<br></small></blockquote>
<br><i>Обратная связь с администрацией:</i> 
<img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">

<br><br>

</div></div></div>
