<div class="help">
<div class="blog-list">
<div class="sidebar"><div class="sidebar-fon"> 
    
<a class="menu" href="https://toxu.ru/help">Помощь</a><br><br>
<a class="menu" href="https://toxu.ru/features">Возможности сайта</a><br><br>
<a class="menu" href="https://toxu.ru/level">Уровни доверия</a><br><br>
<span class="menu"> Почему сайт назван Toxu?</span><br><br>
<a class="menu" href="https://toxu.ru/dev">Для разработчиков</a><br><br>

</div></div>
<div class="container list-container has-sidebar help-telo">  

<h1>Хотите помочь развитию проекта?</h1>


</div></div></div>
