test - index.html.erb
    <footer class="container">
      <nav itemscope itemtype='http://schema.org/SiteNavigationElement'>
        <a title="Разделы" href="/categories">Разделы</a>
        <a title="Правила" href="/c/toxu/regulations">Правила</a>
        <a title="О проекте" href="/about">О проекте</a>
        <a title="Помощь" href="/help">Помощь</a>
      </nav>
    </footer>
