/*логин и регистрация фон*/
html:not(.mobile-view) {
#discourse-modal {
  &.login-modal,
  &.create-account {
    &:not(.hidden):before {
      content: "";
      height: 100vh;
      width: 100vw;
      // change background here
      background: url(https://toxu.ru/uploads/default/original/2X/1/170b51aad7bbc5daffe301cff9f57d93516a3faa.jpg);
      position: fixed;
      z-index: -2;
    }
  }
}
}
html:not(.mobile-view) {
  
.nav-pills>li.active>a, .nav-pills>li>a.active {color: #999;font-weight: 500;background-color: #fff;border-bottom: 2px solid #f56400;}
.nav-pills > li > a:hover{color: #999;  background-color: #fff;  border-bottom: 2px solid #f56400;} 
.nav-pills > li > a {color: #667d99;border-bottom: 2px solid transparent;}
	
nav.post-controls button.reply.create span.d-button-label {display: none;}
nav.post-controls button.reply.create:after {   content: "комм";}
.topic-post.comment nav.post-controls button.reply.create:after { margin-left: 3px;  content: "комм";}

}
