/*шрифты*/
html {font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 300;}
.topic-body .contents .cooked, .help {line-height: 1.7;font-size: 1.12em;font-weight: 400;}
.topic-post.comment .topic-body .contents .cooked {font-size: 1em;line-height: 1.4;}

/*-comm post_1 + none signature hidden и для общения нет подробного */
#post_1 nav.post-controls button.reply, .post-hidden .user-signature, .category-other .sidebar-fon .dis-info-more {
    display: none;
}

tr {    border-bottom: 1px solid #e7edf3;}

.search-ins{
    margin-bottom: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    padding: 20px;
}
/*icon sraff*/
button.adm_ui_button {display: none !important;}
body.staff button.adm_ui_button {display: inline-block !important;}
.adm {font-size: 14px;border-left: 3px dotted #f56400;padding-left: 12px;color: #666;}

/*mini header*/
#top-navbar-links {background: #f6f8fe}
/* #top-navbar-links {background: rgba(82,186,213,0.1);} */
#top-navbar-links a {color: #919191;display: inline-block;font-size: 12px;line-height: 12px;padding: 3px 6px 6px 6px;}
#top-navbar-links a:hover {color: #f56400;}
.right-h{float: right;margin-right: 5px;}

/*колонки*/
.wrap {max-width: 90em;}

html:not(.mobile-view) {
	
.blog-list {position: relative;}
 li.nav-item-guidelines {display: none;}
.sidebar {width: 20%;float: left;}
.telo-qa {width: 79%;float: right;}
.list-container.has-sidebar {float: left;margin-left: 20px;}
	
@media screen and (max-width : 1150px) {.topic-body {max-width: 650px;}}	
	
}	

	
.sidebar-fon {padding: 7px 0 7px 12px;}
.container-telo {width: 70%;float: left;}
.container-bar {width: 30%;float: right;}
.sidebar-top {margin-left: 46px;}
h1, h2, h3, h4, h5, h6 {font-weight: 400;}
a:hover {color: #f56400;}

.sidebar-m {
.pgbar {width: 85%;}
.n-bar {margin-top: -17px;font-size: 16px;}
.pr-view {color: #F7941D;font-size: 16px;}
.mn i.fa {color: #ffb74d;}
display: block;
    float: right;
    width: 21%;
    background: #f6f8fe;
    padding: 10px;
    color: #666;
    height: 100%;
a.link{color: #667d99;}
a.link:hover{color: #f56400;}
.title {color: #667d99;margin-bottom: 12px;font-size: 1.1487em;} 
.mn {margin-bottom: 14px; }
.mn i.fa {color: #d68b4f;}
}

.sidebar-qa {padding-top: 10px;font-size:13px;color: #666;
.fa{margin-right: 4px;color: #339900;}
}
	
@media screen and (max-width : 1200px) {
#scroll-top  {display: none !important;}
}


@media screen and (max-width : 1055px) {
.container-telo {width: 100%;}
.container-bar {display: none;}
}

	
tr.category-other .no-no.centr::after {
    display: inline-block;
    content: '\f27b';
    font-family: FontAwesome;
    margin-left: 5px;
    font-size: 14px;
}




.bbcodeleft img {float: left; margin: 8px 14px 2px 0;}
.bbcoderight img {  float: right; margin: 9px 0 2px 12px;}

.kollonka{
    font-size: 13px;
    color: #f56400;
    background-color: #fff;
    padding: 5px;
    margin-right: 12px;
    margin-top: 4px;
    text-align: center;
}


/*награда под авой в профиле*/
.all-bar {clear: both;}
.cv-1 {background: #eee;}
.pol-1 {background: #339900;}
.pol-2 {background: #f56400;}
.bdp.ots.gr a{color: #F7941D;}
.bdp.ots.gr a:hover{color: #f56400;}
.n-bar {max-width: 20px;margin-right: 3px;width: 19%;display: block;float: right;margin-top: -10px;color: #F7941D;font-size: 12px;}

.collapsed-info.about.no-background .pgbar {width: 63%;}

.sidb a.menu{font-size: 15px;}

.about.no-background { 
.pgbar {width: 70%;} 	
.details .user-profile-avatar .avatar-flair {bottom: 50px;} 
}
.collapsed-info.about.has-background {
.pgbar {width: 63%;}
.n-bar {margin-right: 7px;}
.bdp.ots.gr {text-align: center;margin-right: 21px;font-size: 18px;}
.details .user-profile-avatar .avatar-flair {bottom: 50px;}
}

.about.has-background {
.pgbar {width: 70%;}
.n-bar {margin-right: 15px;}
.bdp.ots.gr{text-align: center;margin-right: 21px;font-size: 28px;}
.details .user-profile-avatar .avatar-flair {bottom: 68px;}
}

 


/*логин и регистрация фон*/
html:not(.mobile-view) {
#discourse-modal {
  &.login-modal,
  &.create-account {
    &:not(.hidden):before {
      content: "";
      height: 100vh;
      width: 100vw;
      // change background here
      background: url(https://toxu.ru/uploads/default/original/2X/1/170b51aad7bbc5daffe301cff9f57d93516a3faa.jpg);
      position: fixed;
      z-index: -2;
    }
  }
}
    label {font-size: 13px;}	
}

/* детальные страницы */
h1.user {color:#f56400;font-size: 4em;font-family: Georgia,Arial,sans-serif;}
h1.prof {color:#f56400;font-size: 3em;font-family: Georgia,Arial,sans-serif;}
h3.user {color: #666;font-weight: 300;font-size: 1.3em;}
hr.user {display: block;height: 1px;margin: 1em 0;width: 200px;border: 0;border-top-width: 0px;border-top-style:none;
	 border-top-color: currentcolor;border-top: 2px solid #999;padding: 0;}
.user-img{background: url(https://toxu.ru/uploads/default/original/2X/5/53da4f2f4eeb867362d7c7f9cd882495da075d28.jpg);height: 119px;width:70%;}
.prof-glog-blog {max-width: 500px;}
.bord {border-bottom: 2px solid #f56400;max-width: 800px;padding-top:10px;}
.bord-2 {border-bottom: 1px solid #ddd;max-width: 600px;padding-top: 10px;}
.bord-3 {border-bottom: 1px solid #ddd;max-width: 800px;padding-top: 10px;}
 a.ser{color: #666;margin-bottom: 2px;}
.qa-cat-info {margin-bottom: 5px;margin-top: 22px;font-size: 16px;clear: both;color: #333;}
.new-str{ clear: both;}
.prof-blog {float: left;width: 33%;}
.prof-blog-2 {float: left;width: 25%;}
.prof-num {color: #f56400; text-align: center; font-size: 4em;font-family: Georgia,Arial,sans-serif;}
.prof-num-u {color: #f56400; text-align: center; font-size: 3em;font-family: Georgia,Arial,sans-serif;}
.prof-txt {text-align:center;font-size:1.2em;color:#666;font-family: Georgia,Arial,sans-serif;font-weight: 300;}
a.qa-link {color: #222;}
h3.suggested-topics-message a:hover {color: #f56400;}
 

@media (max-width: 850px){
.prof-txt{white-space: nowrap;    overflow: hidden;    padding: 5px;    text-overflow: ellipsis;}	
.prof-blog-2 {float: left;width: 33%;}
.prof-num, h1.prof {font-size: 2em;}
.prof-txt, h3.user {font-size: 1em;}
.prof-num-u {font-size: 1.2em;}
.prof-num img.avatar {width: 34px;height:34px;}  
.no-mob {display: none;}
}

.d-editor-textarea-wrapper-info  {
    display: block;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    border: 1px solid #919191;
    margin: 3px;
}

/* баннер */
#banner-content-t {
    background: url(https://toxu.ru/uploads/default/original/2X/5/545aaf22936a6b405548cee2676bc554a7d67d25.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
padding-bottom: 20px;
text-align: center;
}

#banner-content-t h1 {font-weight: 700;color:#f56400;letter-spacing: 0;font-size: 34px;width: 60%;margin: 10px auto;line-height: 45px;}
#banner-content-t p {font-weight: 300;font-size: 16px;line-height: 150%;color: #667d99;width: 70%;margin: 10px auto;}
#banner-content-t a.kn {margin-top: 15px;margin-right: 15px;display: inline-block;border: solid 1px #0095ff;padding: 6px 11px;
	border-radius: 4px;text-transform: uppercase;font-weight: 600;font-size: 13px;line-height: 1.42857;color: #0095ff;}
#banner-content-t a.kn:hover {background: rgba(0,0,0,0);border: solid 1px #f56400;color: #f56400;}
@media screen and (max-width : 1100px) {#banner-content-t h1{font-size: 30px;}#banner-content-t p {font-size:14px;}} 
.anon #banner {display: none;}
#banner .close .fa-times:hover  {color: #f56400 !important;}
#banner {background: #FFF8DC;font-size: 15px;margin-bottom: 10px;}

/*верхнее меню*/
.nav-pills>li.active>a, .nav-pills>li>a.active {color: #999;font-weight: 500;background-color: #fff;border-bottom: 2px solid #f56400;}
.nav-pills > li > a:hover{color: #999;  background-color: #fff;  border-bottom: 2px solid #f56400;} 

/*new css кнопки*/
.btn {color: #39739d !important;background: #E1ECF4 !important;}
.btn:hover,.btn.btn-hover{background:#d5eff4 !important;color:#39739d !important;}
.d-editor-button-bar .btn {background: #fff !important;}
button.btn-primary,  button.login-button {background: #0095ff !important;color: #fff !important;}
button.btn-primary:hover, button.login-button:hover, button.btn.btn-primary i.fa:hover {background: #1b95d2 !important;color: #fff !important;}
button.btn-danger {background: #f2350f !important;color: #fff !important;}
button.btn-danger:hover, button.btn-danger i.fa:hover {background: #931d05 !important;color: #fff !important;}

#create-topic {color: #fff !important;font-size: 1.2487em;background-color: #f56400 !important;}
#create-topic:hover, #create-topic:active {color: #fff !important;background-color: #f54400 !important;}
#create-topic .btn .d-icon { opacity: 1;}

.add.create-topic{margin-bottom: 13px;display: block;font-weight: 500;margin-top: 12px;font-size: 15px;}
.d-icon.d-icon-d-tracking,.d-icon.d-icon-d-watching{color:#08c !important;}
.d-icon.d-icon-d-regular, .d-icon.d-icon-d-muted, .d-icon.d-icon-d-watching-first, .d-icon.d-icon-d-watching-first-post {color: #919191 !important;}

#login-buttons .btn  {text-align: left !important;}

/*боковые категории*/
.anon .sidebar-add-qa, .fon .sidebar-add-qa  {display: none;}
.fon.test .sidebar-add-qa  {display: inline-block;}

.sidebar {    
.vid {color: #919191;}
.badge-wrapper.bullet .badge-category-bg {width: 6px;height: 6px;margin-bottom: 2px;}	
.badge-wrapper.bullet .badge-category-parent-bg, .category-other2 {display: none;}
.badge-wrapper.bullet .badge-category-bg {margin-right: 10px;}
a.box.bar:hover, .discourse-tag.bullet:hover {color: #f56400;}
.badge-wrapper.bullet .badge-category-bg:hover {opacity: 1;}
.badge-notification {color: #f56400 !important;font-size: 14px;background-color: #fff;margin-bottom: 2px;}
.badge-wrapper.bullet {padding: 4px 0 4px 6px;}
.badge-wrapper.bullet:hover, .badge-wrapper.bullet span.badge-category:hover, a.cvet:hover {color: #f56400;}
.cat-link .topics-count {float: right;font-weight: normal;font-size: 12px;color: #888;margin-top: 2px;margin-right: 6px;}
.cat-link.category-blog {margin-bottom: 10px;}
a.info{font-size: 16px;    margin-top: 3px;    display: inline-block;}
.catimg {    margin: 0 auto;    width: 65px;}
.avahome img {width: 38px;height:38px;}
.cat-ava {margin-bottom: 15px;height: 50px;}
.cat-info {font-size: 13px;color: #666; margin-top: 15px;}
.avahome {float: left;margin-right: 12px;margin-top: 3px;}
.badge-wrapper {font-size: 14px;}
#create-topic {background: #e7672e;color: #fff;margin-bottom: 10px;width: 99%;}
#create-topic:hover {background: #f56400;color:#fff;}	
.dis-info {color: #666;font-size: 13px;clear: both;display: block;}
.dis-info-more{font-size: 13px;margin-top: 10px;display: block;}
.dis-info-name {color: #333;font-size: 18px;display: block;padding-top: 5px;padding-bottom: 5px;text-align: center;}	
.dis-info-rss {display: block;margin-top: 10px;font-size: 13px;}	
}

.nav-pills > li > a {color: #667d99;}

/*детали в колонках*/
.topic-list-item-sug {margin-bottom: 10px;clear: both;min-height: 31px;}
.cat-pods, .topic-meta-data .post-infos {font-size: 14px;font-weight: 300;}
.topic-list-sug {margin-bottom: 10px;}
.user-profile.widget-container {color: #919191;}
.werng, #banner-nul {padding: 10px 10px 10px 10px;border: solid 1px #ddd;border-radius: 3px;margin-bottom: 15px;margin-top: 7px;
                     font-size: 0.9em;max-width: 450px;background-color: #fff;}
.werng i.fa, #banner-nul i.fa {font-size: 1.3em;color: #f56400;float: left;margin: -1px 5px 5px 0;}

/*Навигация категории*/
.badge-wrapper {font-weight: 400;}
.badge-wrapper.bullet .badge-category-bg {border-radius: 10px;opacity: 0.8;}
.badge-wrapper.bullet .badge-category-parent-bg {width: 9px;height: 9px;margin-right: 2px;border-radius: 10px;}
.badge-wrapper.bullet .badge-category-parent-bg + .badge-category-bg {width: 9px;}
/*комментарии*/
.topic-post.comment { 
margin-left: 53px;	
.reply-to-tab span {margin-left: 3px;}
.names span.first {    font-weight: normal;}
.topic-body .reply-to-tab {    float: left;  margin: 0 10px 2px 3px;}
.topic-meta-data .post-info {    float: left;    margin-right: 10px;margin-top: 2px;}
.topic-meta-data .names { margin-right: 0;}	
img.avatar { width: 16px; height: 16px;}
.cooked img:not(.thumbnail) {max-width: 660px !important;}
a.reply-to-tab img.avatar, .user-signature, .names span.full-name, .avatar-flair, .bookmarked, .unaccepted, .bookmark,  .names .user-title, .topic-post.comment .names span.full-name {display: none;}
.topic-avatar { padding-top: 5px;}
.names span, .topic-meta-data .post-infos { font-size: 0.9em;}	
.topic-avatar { width: 20px;}
.topic-body .regular {margin-top: 1px;}
.topic-body { max-width: 657px;border-right: none;padding: 5px 0 0 6px}
nav.post-controls button {font-size: 1em;}	
nav.post-controls {    margin-top: -10px;}
.who-liked {margin-top: 1px;}
}

/*ПМ и комм*/
.user-messages-page .categ:after {display: inline-block;content: '\f003';font-family: FontAwesome; color:#339900;margin-left: 5px;}
h2.selected-name{overflow: hidden !important;}
.collection-header .category-filter  {    display: none !important;}
.post-hidden, .del {
.topic-avatar, .like-button, .share, .reply {display: none !important;}
nav.post-controls, p, a.expand-hidden, .topic-meta-data {font-size: 13px;margin: 1px;}
section.post-menu-area { max-width: 200px;float: right;}
.topic-body .regular  {margin: 0;font-size: 14px;}
.topic-meta-data .post-info {float: left;}	
}

nav.post-controls button.reply.create span.d-button-label {display: none;}
nav.post-controls button.reply.create:after {   content: "комм";}
.topic-post.comment nav.post-controls button.reply.create:after {   content: "комм";}
.topic-post nav.post-controls .create i.fa-reply {display: none;}
.archetype-private_message {
background: #fdfdfd url(https://toxu.ru/uploads/default/original/2X/5/57dc9ca1e3af5339abacf4a04fce90a5cb8cb7d8.png) repeat;
.boxed.onscreen-post {background-color: #fff;padding: 5px;}
img.avatar {border-radius: 5%;}
.d-header-icons .icon img.avatar {border-radius: 50%;}
.sidebar-top  {display:none;}   
.topic-post {margin-bottom: 10px;} 
.topic-body, .topic-avatar, .topic-status-info {border-top: none;}
#suggested-topics .loading-container.ember-view  {display:block !important;}
#topic-footer-buttons button.create, #reply-control .btn-primary {color: white !important; background-color: #306f30 !important;}
#topic-footer-buttons button.create:hover, #reply-control .btn-primary:hover, #topic-footer-buttons button.btn.btn-primary i.fa:hover {color: white !important; background-color: #339900 !important;}
.topic-post button.btn-primary.create:after  {content: "комм приватно";}
.private-message-map h3:after { content: " (приватно)";} 
button.btn-primary.create span.d-button-label, li.extra-nav-item-outlet.votes {display: none;}
button.btn-primary.create:after { content: " Ответить приватно";} 	
} 


/*теги*/
.cat-blo {
    padding: 13px 10px 10px 10px;
    background: #FFF8DC;
    margin-bottom: 24px;
    margin-top: 20px;
}
.cat-tag{margin-bottom: 10px;}
.tag{
font-size: 13px;
background: rgba(82,186,213,0.1);
margin: 2px 3px 4px 0;
padding: .2em .8em;
border-radius: 3px;
display: inline-block;
}

html:not(.mobile-view) { .discourse-tag.bullet {
    font-size: 13px;    display: inline-block;
    background: rgba(82,186,213,0.1);    text-decoration: none; 
    white-space: nowrap;    overflow: visible;    margin-right: 2px;
    padding: .2em .8em;    line-height: 1.2;    border-radius: 3px;    border-image: initial;}
.discourse-tag.bullet:before {display: none;}
.discourse-tag.bullet:hover{color: #f56400 !important;background-color:rgba(0,132,255,.15);}
h2.tag-show-heading a {margin-top: -6px;}
#list-area h2.tag-show-heading {margin: 0 0 30px;}
}
a.tag-факты.discourse-tag.bullet::before {content: "\f0eb"; color: #F7941D;display: inline-block;font-family: FontAwesome;}

a.mention, a.mention-group {color: #07c;background: rgba(82,186,213,0.1);font-weight: normal;}

/*блоги*/
.archetype-regular.category-blog { 
.topic-body .contents .cooked {font-size: 1.23em;}
.topic-list .topic-excerpt { font-size: 1em;}
}
.qa-add{margin-top: 8px;}
.sidebar-top .ser.cvet{text-decoration: underline;}
.cat-pods { 
    padding: 3px 3px 10px 0px;
    margin-bottom: 20px;
    img.cat-small {margin-right: 10px;margin-top: 5px;float: left;width: 24px;height: 24px;}	
    .rss-link-top{display: inline-block;float:right;}
    .rss-link-top a  {color: #667d99;font-size:14px;}
   .otst-top  {margin-left: 33px;}
   .badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {display: none !important;}
   .badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {display: block;margin-top: 15px;}
   .badge-wrapper.bullet span.badge-category {color:#07c;font-size:13px;}
   .badge-wrapper.bullet span.badge-category:hover, .rss-link-top a:hover {color:#f56400;}
}

h3.topic-list-link  {display: inline-block;color: #667d99;font-size: 15px;font-weight: 400;margin-bottom: 6px;}
.blogcvet{background: rgba(82,186,213,.1);padding: 8px 11px 2px 12px;}

.cat-pods-cat {
background: #f2f7fe; border-color: #DDE7F5;color: #555;font-size: 13px;padding: 13px 13px 0 13px; overflow: hidden;
.topic-list-link-top {font-size: 14px;color:#555;margin-bottom: 10px;}
}

/*footer*/
.footer-toxu {clear: both;background-color:#fff;color:#666;width:100%;display: block;z-index: 40;position: relative;}
.footer_column{font-size:14px;line-height: 18px;text-align:center;padding:20px;margin-top:50px;border-top: 1px solid #e2e2e2;}
.footer_column a {color: #666 !important;}
.footer_column a:hover {color:#f56400 !important;}
.one{margin-bottom:10px;}
.links{margin-left:16px;}

/*раздел категории*/
.navigation-topics .category-breadcrumb, .category-heading, #header-list-area  {display: none; }


body[class*="navigation-categories"] #main-outlet .container.list-container.has-sidebar {width: 100%;float: left;}
.colon.cat-cat{  float: left;width: 66%;}
.colon.post{width: 27%;float: right;margin-left: 30px;}
.navigation-categories.categories-list .sidebar, .navigation-categories.categories-list .add-qa {display: none;}
.cat-private {background-color: #eff5fa;color: #667d99;padding: 1px 0 1px 10px;margin-bottom: 5px;}

.cat-cat { width: 100%;
.category-logo {margin-top: 3px;margin-bottom: 0;width: 46px;height:46px;}
.avacat a {font-size: 13px;color: #777;text-decoration: underline;}
.telohome {float: left;width: 90%;margin-left: 15px;}
.topic-cat {display: inline-block;margin-bottom: 20px}
.stats {font-size: 20px;text-align: center;line-height: 22px;margin-bottom: 20px;}
.stats small {text-transform: uppercase;color: #777;font-weight: 300;font-size: 12px;}
.has-description {float: left;width: 70%;}
.cat-glav {height: 80px;}
.badge-category-bg {display: none !important;}
.badge-wrapper.bullet span.badge-category{color:#08c;}
.badge-wrapper.bullet span.badge-category:hover {color: #f56400;}
.category-logo-small {width: 14px;height: 14px;}
.category-description {max-width: 450px;font-size: 0.97rem;font-weight: 400;line-height: 1.2;color: #777;}
.topics-count {float: right;font-weight: normal;font-size: 12px;color: #888;margin-top: 2px;}
.avacat img {width: 24px;    height: 24px;}
.category-title-link .category-name {font-size: 20px;}
	
}

/*мелкие детали*/
img.emoji.emoji-custom {width: auto;height: 100%;vertical-align: middle;}
.sidebar-fon, .cat-pods, .sidebar-m, .sidebar #create-topic, .blogcvet {border-radius: 3px;}
.topic-list {
th.activity:before {display: inline-block;content: '\f017';font-family: FontAwesome;}
th.posts:before {display: inline-block;content: '\f27b';font-family: FontAwesome;}
th.likes:before {display: inline-block;content: '\f08a';font-family: FontAwesome;}
th.views:before {display: inline-block;content: '\f06e';font-family: FontAwesome;}
}
.topic-post.del { opacity: 0.3; .topic-body { max-width: 690px;} p { margin: 0; }}
.activity.sortable {text-align: center;}
#scroll-top{position:fixed;opacity: 0.6;bottom:80px;padding:5px;border-radius:5px;z-index:9999;right:20px;color:#888;font-size:25px;display:none;}
#scroll-bottom{
color: #888;
position: fixed;
opacity: 0.6;
bottom: 120px;
padding: 5px;
border-radius: 5px;
z-index: 9999;
right: 20px;
font-size: 25px;
}
#scroll-top:hover, #scroll-bottom:hover {opacity: 1;}
.cooked ol li::-moz-list-number {font-weight: bold;}
.category-heading .category-logo {width: 31px;}
.category-heading p {font-size: 1.24em;color: #39739d;background-color: #eff5fa;border-color: transparent;padding: .2em .3em;}

.post-links-container ul li a[href] {color: #07C;}
.post-links-container ul li a[href]:hover {color: #f56400;}
post-menu-area {margin-bottom: 1px;margin-top:2px;}
.regular.contents a[rel~="nofollow"]::after {display: inline-block;content: ' \f08e ';font-family: FontAwesome;color: #999;
    font-size: 11px;margin-left: 3px;}
img.avatar:hover, .d-header #site-logo:hover {opacity: 0.8;}
.topic-list > tbody {border-top: 1px solid #e9e9e9;}
.user-signature, .names .user-title a, .names .user-title {position: relative;color: #919191;font-size: 13px;}

.user-signature {position: absolute;margin-top: 35px;margin-left: 56px;} 
.topic-body .regular {    margin-top: 35px;}

.post-menu-area {margin-bottom: 1px;margin-top:2px;}
.badge-notification.new-topic { color: #f56400;font-size: 1.3em;}
.topic-list .badge-notification.new-topic {margin-top: -10px;}
.badge-notification.new-posts, .badge-notification.unread-posts {background-color: #f56400;}
.main-link.clearfix .telohome .title-t a.title { 
 color: #09C;font-size: 1.1em; font-weight: 300;
   &:visited {color: #07C;}
   &:hover {color: #f56400;}
}

/*выделение*/
span.excerpt{background-color: #fff7e5;display: inline-block;padding: 8px;}
.groups-d { max-width: 980px;margin-bottom: 25px;background-color: #fff7e5;padding: 8px;line-height: 1.6;}
.menu-panel ul.menu-links li a:hover, .menu-panel ul.menu-links li a:focus, .menu-panel ul li.heading a:hover, .menu-panel ul li.heading a:focus, 
h3.suggested-topics-message a, .highlight-strong, .footer-message.ember-view h3 a, blockquote, aside.quote .title, .videl, 
.moderator .clearfix > .topic-meta-data > .names span.user-title, .moderator .nav-pills > .topic-meta-data > .names span.user-title, .moderator .container > .topic-meta-data > .names span.user-title, .moderator .wrap > .topic-meta-data > .names span.user-title{
    background-color: #FFF8DC; 
}
h3.suggested-topics-message a, .videl {padding: 5px;}
blockquote, aside.quote .title {border-left: 2px solid #ffeb8e;}
.moderator .regular > .cooked {background-color: #fff7e5;}

/*Катерория Toxu-правила*/
.custom-cat-header-toxu-regulations {display: none;}


/*поиск*/
.d-header .title {
  display: flex;
}

.d-header .header-buttons {
  margin-top: .1em;
}

.header-search-enabled .search-header a, .header-search-enabled .search-header a:visited {
  color: $tertiary;
}

.header-search-enabled #search-button {
  display: none;
}

.header-search-enabled.align-right .contents {
   display: flex;
   justify-content: space-between;
   align-items: start;

   &:before, &:after {
     display: none;
   }

   .title {
     flex: 1 1 auto;
     justify-content: space-between;
   }

   .search-header {
     margin-left: 0;
     margin-right: 10px;
   }

   .search-input {
     margin-right: 0;
   }

   .search-context {
     padding-top: 5px;
   }

   .results {
     right: 0;
   }
}

.title .search-header {
  width: 450px;
  margin-left: 155px;
  margin-top: 4px;
  position: relative;
  white-space: nowrap;

  &.show-header-results {
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

  #search-term {
    background-color: #FAFBFF;
    margin: 0; border-radius: 5px;
    width: 100%;
    border: 1px solid #e7edf3;
  }

  .searching .spinner {
    display: none;
  }

  .search-icon {
    float: right;
border-radius: 0px;
    border-left: none;
    height: 32px;
  }

  .search-input {
    overflow: hidden;
  }

  .search-context {
    padding: 0;
    padding: 5px;

    label {
        float: left;
    }
  }

  .results {
    border-top: none;
    width: 100%;
    white-space: normal;

    ul {
      list-style-type: none;
      margin: 0 5px 5px 5px;
    }

    .heading {
      padding: 5px 0 5px 5px;

      .filter {
        padding: 0 5px;
      }
    }

    .no-results {
      padding: 5px;
      text-align: center;
    }

    .search-link {
      .badge-category-parent {
        line-height: 0.8em;
      }
      .topic-title {
        margin-right: 6px;
      }

      .topic-statuses {
        float: none;
        display: inline-block;
        color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color(#fff, $lightness: 50%));
        margin: 0;
        .fa {
          margin: 0;
        }
      }
    }

    li:not(.category):not(.heading) {
      font-size: 0.969em;
      line-height: 16px;

      .fa {
        font-size: inherit;
      }

      a {
 
        padding: 5px;
        transition: all linear .15s;
      }

      &:hover a:not(.badge-notification) {
        background-color: dark-light-diff(#ffff4d, #fff, 50%, -55%);
      }

      button {
        margin-left: 5px;
      }
    }
  }
}
@media screen and (max-width: 1020px) {.title .search-header {  margin-left: 20px;}}

/*временной бар*/
.progress-circle {
   font-size: 35px;
   margin: 5px;
   position: relative; 
   padding: 0;
   width: 5em;
   height: 5em;
   background-color: #F2E9E1; 
   border-radius: 50%;
   line-height: 5em;
}

.progress-circle:after{
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: white;
    content: " ";
}
/* Текст внутри элемента управления */
.progress-circle span {
    position: absolute;
    line-height: 8em;
    width: 8em;
    text-align: center;
    display: block;
    color: #53777A;
    z-index: 2;
    font-size: 0.6em;
}
.left-half-clipper { 
   /* a round circle */
   border-radius: 50%;
   width: 5em;
   height: 5em;
   position: absolute; /* необходим для отсечения */
   clip: rect(0, 5em, 5em, 2.5em); /* зажимы вся левая половина*/ 
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
   clip: rect(auto,auto,auto,auto);
}
.value-bar {
   /*Это наложенный квадрат.*/ 
   position: absolute; /*необходим для отсечения*/
   clip: rect(0, 2.5em, 5em, 0);
   width: 5em;
   height: 5em;
   border-radius: 50%;
   box-sizing: border-box;
  border: 0.45em solid #F7941D;
}

/* когда p>50, не закрепите левую половину*/
.progress-circle.over50 .left-half-clipper {clip: rect(auto, auto, auto, auto);}

.value-bar {
  position: absolute;
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #F7941D;
  box-sizing: border-box;
}

/* Индикатор выполнения, заполняющий всю правую половину для значений выше 50% */
.progress-circle.over50 .first50-bar {
   /*Progress bar for the first 50%, filling the whole right half*/
   position: absolute; /*needed for clipping*/
   clip: rect(0, 5em, 5em, 2.5em);
   background-color: #F7941D;
   border-radius: 50%;
   width: 5em;
   height: 5em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }


/* позиции */
.progress-circle.p0 .value-bar { display: none; }
.progress-circle.p1 .value-bar { transform: rotate(4deg); }
.progress-circle.p2 .value-bar { transform: rotate(7deg); }
.progress-circle.p3 .value-bar { transform: rotate(11deg); }
.progress-circle.p4 .value-bar { transform: rotate(14deg); }
.progress-circle.p5 .value-bar { transform: rotate(18deg); }
.progress-circle.p6 .value-bar { transform: rotate(22deg); }
.progress-circle.p7 .value-bar { transform: rotate(25deg); }
.progress-circle.p8 .value-bar { transform: rotate(29deg); }
.progress-circle.p9 .value-bar { transform: rotate(32deg); }
.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p11 .value-bar { transform: rotate(40deg); }
.progress-circle.p12 .value-bar { transform: rotate(43deg); }
.progress-circle.p13 .value-bar { transform: rotate(47deg); }
.progress-circle.p14 .value-bar { transform: rotate(50deg); }
.progress-circle.p15 .value-bar { transform: rotate(54deg); }
.progress-circle.p16 .value-bar { transform: rotate(58deg); }
.progress-circle.p17 .value-bar { transform: rotate(61deg); }
.progress-circle.p18 .value-bar { transform: rotate(65deg); }
.progress-circle.p19 .value-bar { transform: rotate(68deg); }
.progress-circle.p20 .value-bar { transform: rotate(72deg); }
.progress-circle.p21 .value-bar { transform: rotate(76deg); }
.progress-circle.p22 .value-bar { transform: rotate(79deg); }
.progress-circle.p23 .value-bar { transform: rotate(83deg); }
.progress-circle.p24 .value-bar { transform: rotate(86deg); }
.progress-circle.p25 .value-bar { transform: rotate(90deg); }
.progress-circle.p26 .value-bar { transform: rotate(94deg); }
.progress-circle.p27 .value-bar { transform: rotate(97deg); }
.progress-circle.p28 .value-bar { transform: rotate(101deg); }
.progress-circle.p29 .value-bar { transform: rotate(104deg); }
.progress-circle.p30 .value-bar { transform: rotate(108deg); }
.progress-circle.p31 .value-bar { transform: rotate(112deg); }
.progress-circle.p32 .value-bar { transform: rotate(115deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p34 .value-bar { transform: rotate(122deg); }
.progress-circle.p35 .value-bar { transform: rotate(126deg); }
.progress-circle.p36 .value-bar { transform: rotate(130deg); }
.progress-circle.p37 .value-bar { transform: rotate(133deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.progress-circle.p39 .value-bar { transform: rotate(140deg); }
.progress-circle.p40 .value-bar { transform: rotate(144deg); }
.progress-circle.p41 .value-bar { transform: rotate(148deg); }
.progress-circle.p42 .value-bar { transform: rotate(151deg); }
.progress-circle.p43 .value-bar { transform: rotate(155deg); }
.progress-circle.p44 .value-bar { transform: rotate(158deg); }
.progress-circle.p45 .value-bar { transform: rotate(162deg); }
.progress-circle.p46 .value-bar { transform: rotate(166deg); }
.progress-circle.p47 .value-bar { transform: rotate(169deg); }
.progress-circle.p48 .value-bar { transform: rotate(173deg); }
.progress-circle.p49 .value-bar { transform: rotate(176deg); }
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }

/*add mobile*/
html.mobile-view {
.sidebar, .user-signature, .category-heading, #banner-content-t, .category-logo, .sidebar-top, #reply-control .d-editor-button-bar .quote.btn, 
 #scroll-bottom, #scroll-top, .sidebar-m, .category-list  .category-description,  .container-bar, .topic-excerpt, .sidebar-add-qa {display: none !important;}
.navigation-categories {th.latest, td.latest {display: none;}.category {width: 99%;}}
.topic-post.comment .topic-avatar {padding-top: 0;}
.list-container.has-sidebar, .container-telo {width: 100%;}
.prof-num {font-size: 2em;}
.prof-txt {font-size: 1em;}
}
