<style type="text/css">
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);}
h1 {font-size: 22px;margin-top: 5px;color: #444;}
h3 {font-weight: 600;font-size:18px;color: #444;}
tbody {border-top: none;}
tr {border-bottom: none;}
img {max-width: 95%;}
.menu {margin: 15px;display: block;}
.menu i.fa {margin-right: 5px;}
a.menu {display: block;margin: 15px;}
a.menu:hover {color: #f56400;}
i.small {font-size: 15px;}
span.menu {color: #F48024;}
.sidb {width: 265px;background: #f6f8fe;float: left;margin-top: 13px;font-size: 15px;}
.help-telo {margin-left: 20px !important;width: 75%; float: right;}
a.contacts{margin-top: 30px;}
@media screen and (max-width: 1200px) {.help-telo {width: 70%;}}
@media screen and (max-width: 1000px) {.help-telo, .sidb {width: 100%;}.sidb {margin-top: 1px;}}
</style>

<div class="help">
<div class="blog-list">
<div class="help-telo">  

<h1>Что означает название сайта «Toxu»?</h1>

<span style="color: #7a98a9;">«Toxu» (Тоха) - это кличка энергичной и умной совы, которая вот уже около года живет в нашем офисе.</span>
<div class="bbcodeleft">

<img src="https://toxu.ru/uploads/default/optimized/2X/c/c1ad1474e5c529bca00df7193acd8e7aebd733a5_1_375x500.jpg" alt="Кличка совы: toxu " width="120px"></div>

<i>Toxu </i> - это милое, доброе, любопытное создание, которое и днем и ночью постоянно наблюдает, что же мы делаем, активно пытается участвовать в жизни офиса, бывает и шалит, но неизменно дарит нам хорошее настроение.<br><br>

<i>- Когда же Тоха спит?</i> - спрашивал я.<br>
<i>- Да кто её знает. Ни разу не видели её спящей,</i> - говорят мне сотрудники. 

<br><br>

Ведет себя <i>Toxu</i> очень спокойно - больше наблюдает. Лишь один раз, когда мы громко включили телевизор, <i>Toxu</i> забеспокоилась - телевизионные новости пришлись нашей сове не по вкусу.
<br><br>
И когда возник вопрос, кого же выбрать символом сайта, мы единогласно выбрали сову.   <br><br>
   
<i>Сова – это свобода в передвижении.<br>
Сова – это символ мудрости, упорство и настойчивость в достижении цели.<br>
Сова - это разнообразие в природе и жизни.</i>
<br> <br> 


Вот такое мудрое и интересное существо это Toxu. Думает, смотрит, делает выводы.

<br> <br> 
<h3>А зачем вообще создавался сайт <i>Toxu</i>?</h3>  

Давайте выберем любой другой сайт ВиО в интернете и честно спросим себя, какая же основная цель того сайта, который мы видим. Это будет все что угодно: попытка заработать деньги, политическая составляющая, свободное чато-подобное общение. Но сайтов, которые созданы именно для обмена знаниями и опытом практически нет. А что может быть более важно? Что более важно для молодого поколения, для страны, для Планеты? <br><br>
Мы попробуем изменить ситуацию и создать ресурс, целью которого является обмен знаниями, опытом и объединение людей на фоне этой идеи. Думаем, что это достойная цель. <br><br>
<b>Присоединяйтесь сами и пожелайте нам удачи! </b><br> <br>

<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">

</section>
<br><br>
Читать далее: <a title="Часто задаваемые вопросы" href="https://toxu.ru/ask">Часто задаваемые вопросы...</a>
</div></div>
<div class="sidb">
<a class="menu" href="https://toxu.ru/help"> <i class="fa fa-caret-right" aria-hidden="true"></i> Помощь по сайту</a>
<a class="menu" href="https://toxu.ru/pravila"> <i class="fa fa-caret-right" aria-hidden="true"></i> Правила и рекомендации</a>
<a class="menu" href="https://toxu.ru/features"> <i class="fa fa-caret-right" aria-hidden="true"></i> Возможности сайта</a>
<a class="menu" href="https://toxu.ru/level"> <i class="fa fa-caret-right" aria-hidden="true"></i> Уровни доверия</a>
<a class="menu" href="https://toxu.ru/ask"> <i class="fa fa-caret-right" aria-hidden="true"></i> Часто задаваемые вопросы</a>
<a class="menu" href="https://toxu.ru/dev"> <i class="fa fa-caret-right" aria-hidden="true"></i> Для разработчиков</a>
<a class="menu" href="https://toxu.ru/donate"> <i class="fa fa-caret-right" aria-hidden="true"></i> Хотите помочь проекту?</a>  
{{mount-widget widget="page-my-menu"}}
<a class="menu contacts" href="https://toxu.ru/contacts"> <i class="fa fa-caret-right" aria-hidden="true"></i> Контакты</a> 
</div>
</div>
