{{#if siteSettings.userbar_enabled}}
  <div class="control-group signatures">
    <label class="control-label">Настройка расположений</label><br>
     <div class="controls">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.userbar_profile}}
        <span class="inst"> Добавить вопросы из раздела: Для общения, в ленту.</span>
      </label>
    </div>
  </div>
  
 <div class="control-group signatures">
   <div class="controls">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.userbar_cat}}
        <span class="inst">   Расположить боковую колонку (с Разделами) в правой части экрана.</span>
      </label>
    </div>
  </div>
{{/if}}
