<style>
.blog{display: block;clear: both;}
h1.t1 {color: #555;margin-top: 15px;margin-bottom: 15px;font-weight: 300;font-size: 1.5em;}
a.title {color: #4E82C2;font-size:1.3em;}
a.title:hover{color: #f56400;}
.blog-title{margin-bottom: 20px;margin-left:20px;}
.blog-info {color:#666;}
.rez {display:inline-block;margin-right:20px;color:#222;margin-left:3px;}
</style>
<center>
<h1 class="prof">Участники</h1>
<h3 class="user">Лучшие писатели и лучшие читатели за этот месяц</h3>
<div class="user-img"></div>

<br>
<div class="prof-glog-blog new-str">

<div class="prof-blog">
<div class="prof-num">5k</div>
<div class="prof-txt">вопросов</div>
</div>

<div class="prof-blog">
<div class="prof-num">477</div>
<div class="prof-txt">участников</div>
</div>


<div class="prof-blog">
<div class="prof-num">21k</div>
<div class="prof-txt">ответов</div>
</div>

</div>

<div class="bord-2 new-str"></div>

</center>

<div class="new-str">

<br><br>
<div class="prof-glog-blog-2 new-str">

{{mount-widget widget="user-top"}}

</div>

</div>
{{footer-toxu}}
